<!doctype html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
<div class="wrapper">
    <%- include('partials/header') %>
    <main><%- body %></main>
    Sidebar layout here
    <%- include('partials/footer') %>
</div>
</body>
</html>